[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = https://github.com/mdxp/nodejs-cookbook
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = http://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/haproxy"]
	path = cookbooks/haproxy
	url = http://github.com/hw-cookbooks/haproxy
[submodule "cookbooks/cpu"]
	path = cookbooks/cpu
	url = http://github.com/Youscribe/cpu-cookbook
